*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1A1A1B;
}


.main
{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  position: relative;
  gap: 2rem;
}



/* CSS */
.click {
  
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333F44;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 5rem;
  width: 10rem;
  background-color: #37AA9C;
  
}

.click:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .click {
    padding: 0.25em 0.75em;
  }
}

#message
{

  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.5rem; */
  color: #37AA9C;
  color: #94F3E4;
  border-radius: 5px;
  /* margin-top: 20%; */
  /* min-height: 2rem; */
  width: 13rem;
  height: 2.5rem;
  background-color: #333F44;
  
}